capstone==4.0.1
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
dwarf-debugger==1.0.0
frida==12.8.5
frida-tools==6.0.0
idna==2.8
prompt-toolkit==2.0.10
Pygments==2.5.2
pyperclip==1.7.0
PyQt5==5.14.0
PyQt5-sip==12.7.0
requests==2.22.0
six==1.13.0
unicorn==1.0.2rc1
urllib3==1.25.8
wcwidth==0.1.8
